body {
    font-family: arial,sans-serif;
}

/*  Navigation bar */

nav.up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

.nav-childs {
    display: inline-block;
    margin-right: 20px;
}

.fonts-text {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.applications-link {
    width: 30px;
    height: 30px;
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position-x: -132px;
    background-position-y: -38px;
    background-size: 528px 68px;
    opacity: .55;

}

.account-link {
    width: 32px;
    height: 32px;
    background-image: url(https://lh3.googleusercontent.com/-JyGE3UuNEfo/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rdYK5OMxZ4lJfkjLHAIVXT_sAA9aA.CMID/s32-c/photo.jpg);
    border-radius: 50%;
}

/*  Main section  */

main {
    margin-top: 89px;
}

img {
    display: block;
    margin: auto;
    width: 272px;
    height: 92px;
    padding-top: 50px;
}

.search-bar {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 582px;
    height: 44px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

.search-icon {
    height: 44px;
    width: 44px;
}

.search-icon svg {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 12px;
}

.search-bar input {
    flex: 1;
    border-style: none;
    outline: none;
}

.microphone {
    height: 44px;
    width: 44px;
}

.microphone  span{
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png);
    background-size: 24px;
    margin-top: 11px;
    margin-left: 6px;
}

